<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hearing Test</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <!-- Custom old people CSS -->
    <!-- <link href="css/modern-business.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background: #f0f8ff;">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Hearing Test</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="howitworks">How It Works</a>
                    </li>
                    <li>
                        <a href="disclaimer">Disclaimer</a>
                    </li>
                    <li>
                        <a href="audiologists">Find Audiologists</a>
                    </li>
                    <li>
                    <a href="/users/login" class="btn btn-success" id="loginButton">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Check Your Headphones
                </h1>
            </div>
        </div> <!-- /.row -->
        <!-- Call to Action Section -->
        <div class="well" style="background: #fff;">
            <div class="row">
                <div class="col-md-12">
                    <p>Before we proceed with the test, you will want to check to see if your headphones work. To do so, we will play a short sound. First, however, please ensure the following is done:</p>
                    <ul>
                        <li>Your headphones are properly plugged in and connected to your computer</li>
                        <li>The volume on your computer is NOT muted or turned all the way down</li>
                        <li>Your headphones are placed securely in/over your ears</li>
                    </ul>
                    Once you have double-checked that the above steps are complete, press next to begin testing your headphones. You will hear a sound playing and will be asked to adjust the volume.

                </div>

            </div>

            <div class="row" id="calibrateButtonContainer">
                <div class="col-md-offset-9 col-md-3">
                    <button type="button" class="btn btn-primary btn-block" id="calibrationStartButton">Next</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="calibrateContainer">


                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; import Teamname 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- form validator -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/renderInitialState.js"></script>
    <script src="/js/renderState.js"></script>
    <script src="/js/audioTestComponent.js"></script>

    <script src="/js/renderAdjustState.js"></script>
    <script src="/js/renderLeftSpeakerState.js"></script>
    <script src="/js/renderRightSpeakerState.js"></script>

    <script src="/js/scripts.js"></script>


</body>

</html>
