<%if (isLoggedIn) { %>
  <a href="/users/logout" class="btn btn-danger" id="logoutButton">Logout</a>
<% } else { %>
  <a href="/users/login" class="btn btn-success" id="loginButton">Login</a>
<% } %>
