<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hearing Test</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom old people CSS -->
    <!-- <link href="css/modern-business.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background: #f0f8ff;">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Hearing Test</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="howitworks">How It Works</a>
                    </li>
                    <li>
                        <a href="disclaimer">Disclaimer</a>
                    </li>
                    <li>
                        <a href="audiologists">Find Audiologists</a>
                    </li>
                    <li>
                        <%- include dynamicLoginLogout.ejs %>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" id="puretonepageH1">Share Results
                    <!-- <small>import Teamname</small> -->
                </h1>
                <ol class="breadcrumb" style="background: #fefefe">
                    <li><a href="/">Home</a>
                    </li>
                    <li><a href="hearingtest">Choose Test</a></li>
                    <li><a href="results">Hearing Test Results</a></li>
                    <!-- <li> <a href="puretonetest.html">Pure-tone Test</a></li> -->
                    <li class="active">Share Results</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->


        <!-- <div id="puretonetest" style="display:none;"> -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-pencil-square-o"></i> Send Results</h4>
                    </div>
                    <div class="panel-body">
                        <p>Use this form to send results to an email address of your choosing. It will send the results from your previous test as well as any accompanying message you would like to include (such as your name).</p>
                        <form name="sendResultsForm" id="sendResultsForm" data-toggle="validator" method="post">
                            <div class="form-group" id="emailRecipientFormGroup">
                                <div class="controls">
                                    <label for="emailTo" class="control-label">Recipient's Email Address:</label>
                                    <input type="email" name="emailTo" class="form-control"  id="emailTo" required data-validation-required-message="Please enter the email address you would like to send your results to.">
                                </div>
                            </div>

                            <div class="form-group" id="nameSendTo">
                                <div class="controls">
                                    <label for="nameSendInput" class="control-label">Your Name:</label>
                                    <input type="text" name="nameSend" class="form-control"  id="nameSendInput">
                                </div>
                            </div>

                            <div class="control-group form-group">
                                <div class="controls">
                                    <label for="securityAnswerSignUp" class="control-label">Additional Text:</label>
                                    <textarea type="text" name="hearingTestResults" class="form-control input-large" id="hearingTestResults"> </textarea>
                                </div>
                            </div>


                            <div id="success"></div>
                            <!-- For success/fail messages -->
                            <!-- <button type="submit" class="btn btn-primary" id="loggedin">Login</button> -->
                            <!-- <hr /> -->
                            <button type="submit" class="btn btn-success btn-block" id="sendResultsBtn" onclick="emailResults()"> Send Results
                            </button>
                        </form>
                    </div>
                </div>
             </div>
        </div>


        <hr>

         <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; import Teamname 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
<!--    <script src="js/jquery.js"></script>-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- custom scripts -->
    <script src="js/shareResults.js"></script>

    <!--client-side emailer-->

    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
       (function(){
          emailjs.init("user_UTQtUP6vVaqujnZjd2AXK");
       })();
</script>


</body>

</html>
